{% extends 'index.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br><br><br><br>
<div>{{status}}</div>
<p>Strava Credential saved successfully</p>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}