{% extends 'index.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br><br><br><br><br>
<div>Hello {{ user.username }}!</div>
<p>
    This is <strong>Dashboard</strong> of Prasmul Virtual Run<br><br>
    Click <strong>Connect</strong> to find out your activities that are connected to your Strava.
</p>

<a href="https://www.strava.com/oauth/authorize?client_id=76095&redirect_uri=http://e5a6-103-120-169-2.ngrok.io/authstrava&response_type=code&scope=activity:read_all"
a href="https://www.strava.com/oauth/authorize?client_id=76095&redirect_uri=http://e5a6-103-120-169-2.ngrok.io&response_type=code&scope=activity:read_all"
    class="btn btn-primary btn-lg" role="button" aria-disabled="true">Connect</a>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

<br><br><br><br>
<a href="{% url 'logout' %}">Log Out</a>

{% endblock %}