{% extends 'index.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<br></br>
<h2>HELLO PRASMULYAN! WELCOME TO PRASMUL VIRTUAL RUN!</h2>
<br></br>
<p>Despite having a tight schedule, let's balance up the body with a healthy lifestyle :)</p>
<br></br>

<!-- {% if user.is_authenticated %}
<a href="{% url 'logout' %}">Log Out</a>
{% else %}
<a href="{% url 'login' %}">Log In</a> -->

{% endif %}
{% endblock %}