<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %} Django Auth Tutorial {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .h1 {
            margin-top: 5px;
            margin-left: 10px;
        }

        .h3 {
            margin-top: 5px;
            margin-left: 10px;
        }

        .p {
            margin-top: 5px;
            margin-left: 10px;
        }

        .navbar a:hover,
        .dropdown:hover .dropbtn {
            background-color: orange;
            color: white;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: flex;
        }
    </style>
</head>

<body>
    <main>
        <!--Navbar-->
        <div class="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">My Activity
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="https://www.strava.com/athlete/training">Current Activity</a>
                                    <a href="https://www.strava.com/athlete/calendar">Activity Calendar</a>
                                    <a href="https://www.strava.com/training-plans">Training Plans</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">My Team
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="https://www.strava.com/local">View Locals</a>
                                    <a href="https://www.strava.com/clubs">Find Clubs</a>
                                    <a href="https://www.strava.com/challenges">Join Challenges</a>
                                </div>
                            </div>
                        </li>
                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="accounts/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="accounts/register">Register</a>
                        </li>


                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>

</html>